h1{
color: black;
font-size: 45px;
font-family: ;         
}

img{
    display: block;
    margin: auto;
    width: 40%;

}

p{

}

h2{
    color: black;
    ]font-size: 25px;
    
}

