h1{
color: white;
font-size: 40px;
}

body{
    font-size:28px ;
    background-color: black;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

img{
    display: block;
    margin: auto;
    width: 40%;
}

p{ color:white;}

li{
    color: white;}

h2{
    color:white;
    font-size: 25px;  
}
 
    h3{
       color: white;
        text-align: center; 
        font-size: 45px ;
    }





